/* You can add global styles to this file, and also import other style files */


.bgProfile{
    background-image: url(assets/img/cat.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;


}

.typewriter{
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  white-space: nowrap; /* Keeps the content on a single line */
  margin: 0 auto; /* Gives that scrolling effect as the typing happens */
  animation:
    typing 3.5s steps(40, end),
    blink-caret .75s step-end infinite;
}

/* The typing effect */
@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}


/* The typewriter cursor effect */

.bgResume{
    background-image: url(assets/img/manette.jpg);
    background-repeat: no-repeat;
    background-position: right;
    background-size: 100%;


}
@-webkit-keyframes hvr-wobble-horizontal {
  16.65% {
    -webkit-transform: translateX(8px);
    transform: translateX(8px);
  }
  33.3% {
    -webkit-transform: translateX(-6px);
    transform: translateX(-6px);
  }
  49.95% {
    -webkit-transform: translateX(4px);
    transform: translateX(4px);
  }
  66.6% {
    -webkit-transform: translateX(-2px);
    transform: translateX(-2px);
  }
  83.25% {
    -webkit-transform: translateX(1px);
    transform: translateX(1px);
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}
@keyframes hvr-wobble-horizontal {
  16.65% {
    -webkit-transform: translateX(8px);
    transform: translateX(8px);
  }
  33.3% {
    -webkit-transform: translateX(-6px);
    transform: translateX(-6px);
  }
  49.95% {
    -webkit-transform: translateX(4px);
    transform: translateX(4px);
  }
  66.6% {
    -webkit-transform: translateX(-2px);
    transform: translateX(-2px);
  }
  83.25% {
    -webkit-transform: translateX(1px);
    transform: translateX(1px);
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }

}
.hvr-wobble-horizontal {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
}
.hvr-wobble-horizontal:hover, .hvr-wobble-horizontal:focus, .hvr-wobble-horizontal:active {
  -webkit-animation-name: hvr-wobble-horizontal;
  animation-name: hvr-wobble-horizontal;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-timing-function: ease-in-out;
  animation-timing-function: ease-in-out;
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1;
}

h2{
  font-family: 'Press Start 2P', cursive;
}
h3{
  font-family: 'Press Start 2P', cursive;
}
h6{
  font-family: 'Permanent Marker', cursive;
  font-size: 20px;
}
p{
  font-family: 'Cookie', cursive;
  font-size: 20px;
}

.bgProjets{
    background-image: url(assets/img/photo1.jpg);
    background-repeat: no-repeat;
    background-size: 100%;

}

.bgContact{
    background-image: url(assets/img/radio.jpg);
    background-repeat: no-repeat;
    background-size: 100%;

}

.bg-jaune{
    background-color :#aaff80;
    padding-bottom: 20px;
    padding-top: 20px;
}
.italique2{
  font-size: 40px;
}

.blancFooter{
    color:black;
    font-size:10px;
}
.hide{
  visibility: hidden;
  display: none;
}

@media (min-width:641px)  { /* portrait tablets, portrait iPad, landscape e-readers, landscape 800x480 or 854x480 phones */

.resumeProfile{
  font-family: 'Cookie', cursive;
  font-size: 40px;
}
.hide{
  visibility: visible;
  display: block;
}
p{
  font-family: 'Cookie', cursive;
  font-size: 30px;
}

}
