<embed src="assets/son/346.mp3" width="0" height="0" autostart="true" loop="False" align="left">
<div class="text-right">
  <a [routerLink]="['/introduction']"><img class="logo" src="https://png.icons8.com/ios/48/000000/delete-sign-filled.png"></a>
</div>
    <div class="container fond">
          <div class="text-center">
              <h3 class="typewriter titre">RE<span class="jaune">S</span>UME</h3>
          </div>
    </div>
    <div class="text-center petitTitre">
          <h6>{{Titre1}}</h6>
    </div>
    <div class="container fond">
          <div class="text-center">
              <P class="col-md-8 offset-md-2 col-12 text-center titreExp bg-jaune blanc">{{ResumeTitre1}}</P>
              <p class="text-center">{{ResumeTexte1}}</p>
          </div>
    </div>
    <div class="container fond">
          <div class="text-center">
              <P class="col-md-8 offset-md-2 col-12 text-center titreExp bg-jaune blanc">{{ResumeTitre2}}</P>
              <p class="text-center">{{ResumeTexte2}}</p>
          </div>
    </div>
    <div class="container fond">
          <div class="text-center">
              <P class="col-md-8 offset-md-2 col-12 text-center titreExp bg-jaune blanc">{{ResumeTitre3}}</P>
              <p class="text-center">{{ResumeTexte3}}</p>
          </div>
    </div>
    <div class="container fond">
          <div class="text-center">
              <P class="col-md-8 offset-md-2 col-12 text-center titreExp bg-jaune blanc">{{ResumeTitre4}}</P>
              <p class="text-center">{{ResumeTexte4}}</p>
          </div>
    </div>
    <div class="container fond">
          <div class="text-center">
              <P class="col-md-8 offset-md-2 col-12 text-center titreExp bg-jaune blanc">{{ResumeTitre5}}</P>
              <p class="text-center">{{ResumeTexte5}}</p>
          </div>
    </div>

    <div class="bg-jaune">
        <div class="text-center petitTitre">
              <h6>{{Titre2}}</h6>
        </div>
        <div class="container fond">
              <p class="skills text-center blanc">{{Skills1}}</p>
              <div class="barreRed">
                  <div class="html">
                    80%
                  </div>
              </div>
        </div>
        <div class="container fond">
              <p class="skills text-center blanc">{{Skills2}}</p>
              <div class="barreRed">
                  <div class="javascript">
                    60%
                  </div>
              </div>
        </div>
        <div class="container fond">
              <p class="skills text-center blanc">{{Skills3}}</p>
              <div class="barreRed">
                  <div class="php">
                    30%
                  </div>
              </div>
        </div>
        <div class="container fond">
              <p class="skills text-center blanc">{{Skills4}}</p>
              <div class="barreRed">
                  <div class="angular">
                    50%
                  </div>
              </div>
        </div>
        <div class="container fond">
              <p class="skills text-center blanc">{{Skills5}}</p>
              <div class="barreRed">
                  <div class="mysql">
                    30%
                  </div>
              </div>
        </div>
   </div>

   <div class="text-center petitTitre">
         <h6>{{Titre3}}</h6>
   </div>
   <div class="container">
     <div class="row">


       <div class="text-center col-12 col-md-6  fond">
             <p class="petitTitre">{{Hobbies1}}</p>
             <img class="img_hobbies" src="assets/img/petanque.gif" alt="petanque">
       </div>
       <div class="text-center col-12 col-md-6 fond">
             <p class="petitTitre">{{Hobbies2}}</p>
             <img class=" img_hobbies" src="assets/img/jeux.gif" alt="jeux">
       </div>
       <div class="text-center col-12  fond">
             <p class="petitTitre">{{Hobbies3}}</p>
             <img class=" img_hobbies" src="assets/img/chat.gif" alt="jeux">
       </div>
       </div>
   </div>


<app-footer></app-footer>
